*{
    margin:0;
    padding:0;
}
.container{
    margin-top:10%;
    width:30%;
    height:60vh;
    border:2px solid red;
    padding:10px 5px;
    box-shadow:5px 10px 20px grey , 5px 10px 20px grey , 5px 10px 20px grey;
}
input{
    width:90%;
    height:60px;
    margin-bottom:10px;
    outline:none;
    font-size:25px;
}
.row{
    margin:10px;
}
.row>button{
    width:20%;
    height:70px;
    font-size:20px;
    text-align:center;
}
.row>.operator{
    background-color: rgb(255, 224, 229);
}
.row>.operator:hover{
    transition-duration: 0.5s;
    background-color: rgb(226, 135, 150);
    color:white;
    font-weight:bold;
    cursor:pointer;
}
.row>.num{
    background-color: rgb(121, 119, 119);
}
.row>.num:hover{
    transition-duration: 0.5s;
    background-color: rgb(22, 13, 13);
    color:white;
    font-weight:bold;
    cursor:pointer;
}
.row>.cancle{
    background-color: rgb(241, 112, 112);
}
.row>.cancle:hover{
    transition-duration: 0.5s;
    background-color: rgb(235, 57, 57);
    color:white;
    font-weight:bold;
    cursor:pointer;
}
.row>.equal{
    background-color: rgb(118, 219, 105);
}
.row>.equal:hover{
    transition-duration: 0.5s;
    background-color: rgb(43, 151, 0);
    color:white;
    font-weight:bold;
    cursor:pointer;
}

