.container{
    border-radius: 30px;
    margin-top:10%;
    width:60%;
    background-color: rgb(41, 166, 197);
    box-shadow:0px 20px 30px grey , 10px 15px 20px grey;
    margin-left:auto;
    margin-right:auto;
    padding:30px;
    display:grid;
    grid-template-rows:20vh 20vh;
    align-items: center;
    justify-content: center;
}
.row1,.row2{
    padding:30px;
    display:flex;
    flex-direction: row;
    text-align:center;
}

.row1 div{
    margin-left:20px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    background-color:black;
    color:white;
    padding:10px;
}
.row2 div{
    margin-left:20px;
    color:black;
    padding:10px;
    /* background-color: rgb(20, 19, 19); */
}
#hr,#min,#sec{
    font-size:100px;
}
#date,#month,#year,#day{
    font-size:70px;
}
#ampm{
    font-size: 30px;
    padding:10px;
    color:rgb(155, 149, 149);
    background-color: black;
    display:flex;
    align-self:center;
}